* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #3695FF;
  border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

body {
  margin: 0 !important;
}

.bg-danger {
  background: #FF0000;
}

.bg-success {
  background: #008000;
}

.bg-secondary {
  background: #6C757D;
}

.bg-info {
  background: #0DCAF0;
}

.bg-warning {
  background: #FFFF00;
}

.pointer {
  cursor: pointer !important;
}

.zindex-100 {
  position: relative;
  z-index: 100;
}

.image-bg-login {
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-bg-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2959558824) 50%, rgb(0, 0, 0) 100%);
}

label {
  transition: all 0.4s;
}

.validit-custom:focus {
  box-shadow: none;
}
.validit-custom:focus ~ label {
  transform: translate(-30px, -30px);
  font-size: 0.9rem;
}
.validit-custom:valid ~ label {
  transform: translate(-30px, -30px);
  font-size: 0.9rem;
}
.validit-custom:disabled ~ label {
  transform: translate(-30px, -30px);
  font-size: 0.9rem;
}

span[data-valid=false] {
  color: #FF0000;
  animation: showError 0.4s linear forwards;
  z-index: 1;
}

span[data-valid=true] {
  color: #008000;
  animation: showSuccess 0.4s linear forwards;
  z-index: 1;
}

.input-transform-translate {
  transform: translate(-30px, -30px);
}

.no-transform-translate {
  transform: translate(0px, 0px) !important;
}

.validit {
  font-size: 0.8rem;
  z-index: -1;
}
.validit i {
  font-size: 0.8rem;
}

.btn-show-pass:focus {
  box-shadow: none;
}

div[data-message=true] {
  animation: 1s showMessage ease-out;
  z-index: 100;
}

div[data-message=false] {
  animation: 1s hiddeMessage ease-out forwards;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  min-height: 50px;
}
.header div {
  height: 45px;
}

.logo-header {
  height: 40px;
}

.profile {
  position: sticky;
  top: 0;
  min-height: 50px;
}
.profile-dropdawn {
  z-index: 1;
}
.profile-dropdawn-btn:focus {
  box-shadow: none;
}

.user {
  width: 45px;
  height: 45px;
}
.user img {
  border-radius: 50%;
}

.menu_label {
  cursor: pointer;
  height: 18px;
  width: 25px;
  color: transparent;
}
.menu_label span {
  height: 3px;
  width: 100%;
  transition: 0.25s ease-in-out;
}
.menu_label span:nth-child(1) {
  top: 0px;
  width: 50%;
}
.menu_label span:nth-child(2) {
  top: 8px;
  width: 75%;
}
.menu_label span:nth-child(3) {
  top: 16px;
  width: 100%;
}
.menu_input:checked + label span:nth-child(1) {
  transform: rotate(-25deg);
  width: 60%;
  top: 5px;
}
.menu_input:checked + label span:nth-child(2) {
  width: 100%;
}
.menu_input:checked + label span:nth-child(3) {
  transform: rotate(25deg);
  width: 60%;
  top: 11px;
}

.sidebar {
  min-height: 100vh;
}
.sidebar nav {
  position: sticky;
  top: 61px;
}

.sidebar[data-expanded=desactive] {
  animation: toRecalldAside 0.4s ease-in-out forwards;
}

.sidebar[data-expanded=active] {
  animation: expandedAside 0.4s ease-in-out forwards;
}

.hiddeItem {
  opacity: 0;
}

.dNone {
  display: none;
}

.iconManu {
  width: 100%;
}

.item-nav-sidbar {
  transition: all 0.4s;
  cursor: pointer;
  border: 1px solid transparent;
}
.item-nav-sidbar:hover {
  border: 1px solid #3695FF;
}
.item-nav-sidbar:hover .submenu {
  display: block;
  opacity: 1;
}
.item-nav-sidbar div a {
  padding: 0.5rem;
}

.item-nav-sidbar-logout {
  transition: all 0.4s;
}
.item-nav-sidbar-logout:hover {
  background: #FF0000;
}
.item-nav-sidbar-logout div form {
  padding: 0.5rem;
}
.item-nav-sidbar-logout div form button {
  border: none;
  background: transparent;
}

[data-item-menu=active] {
  background: #3695FF;
}

div[data-item-active=false] {
  animation: hiddeItem 0.2s linear forwards;
}

div[data-item-active=true] {
  display: block;
  animation: showItem 0.2s 0.4s linear forwards;
}

.submenu {
  width: 130px;
  transform: translateX(100%);
  z-index: 100;
  display: none;
  opacity: 0;
  transition: all 0.4s;
}
.submenu_li a {
  padding: 0.4rem;
  transition: all 0.4s;
}
.submenu_li a:hover {
  background: #3695FF;
}

[data-submenu=true] {
  display: none;
}

[data-submenu=false] {
  display: block;
}

.profile-bg {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.profile-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2352941176) 50%, rgb(0, 0, 0) 100%);
}

.profile-user {
  width: 100px;
  height: 100px;
  margin-top: -50px;
}
.profile-user-btn {
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s;
}
.profile-user-btn:hover {
  opacity: 1;
}
.profile-user img {
  border-radius: 50%;
}

.label-image-profile {
  cursor: pointer;
  width: 80px;
  height: 80px;
}

[data-checked=add-style]:checked ~ label {
  border: 2px solid #3695FF;
  box-shadow: 0px 0px 20px #3695FF;
  transform: scale(1.05);
}

input[type=checkbox] {
  cursor: pointer;
}

.section-input {
  width: 100%;
  max-width: 300px;
}
.section-input-label {
  cursor: pointer;
}
.section-input-span {
  margin-top: -28px;
}
.section-input-image {
  max-width: 100%;
}

.custom-401 {
  position: relative;
}
.custom-401::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/not_found.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-401-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #FF0000;
}

.custom-403 {
  position: relative;
}
.custom-403::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/not_found.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-403-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #FF0000;
}

.custom-404 {
  position: relative;
}
.custom-404::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/not_found.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-404-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #FF0000;
}

.custom-419 {
  position: relative;
}
.custom-419::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/not_found.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-419-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #FF0000;
}

.custom-429 {
  position: relative;
}
.custom-429::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/not_found.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-429-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #FF0000;
}

.custom-500 {
  position: relative;
}
.custom-500::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/server_error.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-500-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #FFFF00;
}

.custom-503 {
  position: relative;
}
.custom-503::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/not_found.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-503-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #FF0000;
}

.custom-maintenance {
  position: relative;
}
.custom-maintenance::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/maintenance.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-maintenance-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #3695FF;
}

.custom-construction {
  position: relative;
}
.custom-construction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("/assets/images/construction.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-construction-mirror {
  z-index: 2;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 0px 10px #3695FF;
}

.limit-caracter {
  display: block;
  white-space: nowrap;
  width: 220px;
  overflow-x: scroll;
}

.input-custom {
  border-radius: 3px;
  cursor: pointer;
}
.input-custom:focus {
  outline: none;
  box-shadow: none;
}

.cm-browser-height {
  min-height: 350px;
}

.empty-collections {
  height: 300px;
}

.custom-table {
  display: block;
  max-width: 1300px;
  overflow-x: scroll;
}
.custom-table th {
  font-size: 0.85rem;
}
.custom-table td {
  font-size: 0.85rem;
}

#modalGallery {
  z-index: 99999;
}

.gallery {
  width: 150px;
  height: 150px;
}
.gallery img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery-image-preview {
  max-width: 100%;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

[data-upload] {
  width: 100%;
  max-width: 150px;
}

.section-preloader {
  z-index: 2;
}
.section-preloader-image {
  width: 100px;
}

[data-modal] {
  background: rgba(0, 0, 0, 0);
}
[data-modal] [data-modal-body] {
  transform: scale(0);
}

[data-modal-content=true] {
  animation: openPopupBackgroud 0.6s linear forwards;
}
[data-modal-content=true] [data-modal-body] {
  animation: openPopupScale 0.3s 0.6s ease-in-out forwards;
}

[data-modal-content=false] {
  animation: openPopupBackgroud 0.6s 0.3s linear reverse;
}
[data-modal-content=false] [data-modal-body] {
  animation: openPopupScale 0.3s ease-in-out reverse;
}

@media only screen and (max-width: 992px) {
  .section-image-login {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .menu_input:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    width: 100%;
    top: 11px;
  }
  .menu_input:checked + label span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .menu_input:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    width: 100%;
    top: 11px;
  }
  .sidebar[data-expanded=desactive] {
    animation: none;
  }
  .sidebar[data-expanded=active] {
    animation: none;
  }
  .sidebar[data-expanded=mobile-active] {
    animation: expandedAsideMobile 0.4s ease-out forwards;
  }
  .sidebar[data-expanded=mobile-desactive] {
    animation: toRecalldAsideMobile 0.4s ease-out;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transform: translateX(-200px);
  }
  .divClosed {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
  }
  div[data-divbtn-closed=active] {
    animation: showItem 0.4s 0.2s linear forwards;
  }
  div[data-divbtn-closed=desactive] {
    animation: hiddeItem 0.2s linear;
  }
  .menuMobileOppen {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    margin: 15px;
    animation: hiddeItem 0.2s linear;
  }
  .hiddeItem {
    opacity: 1;
  }
  .dNone {
    display: block;
  }
  .iconManu {
    width: auto;
  }
  div[data-item-active=false] {
    animation: none;
  }
}
@media only screen and (max-width: 605px) {
  .card-dashboard {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .breadcrumps-overflow {
    max-width: 320px;
    overflow-x: auto;
    margin-bottom: 0.8rem;
  }
}
@media only screen and (max-width: 385px) {
  .gallery {
    width: 120px;
    height: 120px;
  }
  .gallery img {
    width: 120px;
    height: 120px;
  }
  [data-upload] {
    max-width: 120px;
  }
}
@keyframes showError {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}
@keyframes showSuccess {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}
@keyframes showMessage {
  0% {
    transform: translateX(230px);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(-80px);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes hiddeMessage {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-80px);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(230px);
    opacity: 0;
  }
}
@keyframes expandedAside {
  0% {
    width: 66px;
  }
  100% {
    width: 230px;
  }
}
@keyframes toRecalldAside {
  0% {
    width: 230px;
  }
  100% {
    width: 66px;
  }
}
@keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hiddeItem {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes expandedAsideMobile {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes toRecalldAsideMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes openPopupBackgroud {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.5019607843);
  }
}
@keyframes openPopupScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
